body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
.topmenu{
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: 75%;
	margin: 0 auto;
}
.topmenu img{
	width: 5vw;
}
.geograf{
	border:solid 0px;
	width: 30vw;
	height: 2.2vw;
	border-radius: 0.4vw;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1vw;
}
.activeee{
	border:solid 2px black;
	height: 2.3vw;
	display: inline-block;
	display: flex;
	align-items: center;
    justify-content: space-between;
    border-radius: 0.4vw;
    width: 30vw;
    margin-right: 13vw;
}
.mesto{
	height: 1.5vw;
	display: inline-block;
}
.batomy{
    display: flex;
	align-items: center;
    justify-content: space-between;
}
.marg{
	margin-right: 1.5vw;
	background-color: #EF781A;
}
.colrr{
    background-color: #00D008;
}
.aton{
	text-decoration: none;
	color: white;
	display: inline-block;
	font-size: 1vw;
	padding: 1vw 1vw;
	border-radius: 0.3vw;
}

.pica{
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: 75%;
	margin: 0 auto;
	background-color: #FFD086;
	border-radius: 0.4vw;
	margin-bottom: 2vw;
}
.srvice{
	font-size: 2.2vw;
	font-weight: 800;
	padding-left: 3vw;
}
.like{
	font-size: 1.2vw;
	padding-top: 1.5vw;
	padding-left: 3vw;
}
.picca img{
    width: 35vw;
}
.search{
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: 75%;
	margin: 0 auto;
	padding: 0 0 2vw 0;
	height: 2.2vw;
}
.resik{
	font-size: 2.2vw;
}
.heighht{
	height: 1.5vw;
	position: absolute;
	margin: 0.4vw 0 0 0.3vw;
}
.activee:hover .heighht{
	display: none;
}
.research{
	width: 30vw;
	height: 2.2vw;
	border-radius: 0.4vw;
	box-shadow: 0vw 0.2vw 0.2vw grey, 0vw -0.2vw 0.2vw grey, -0.2vw 0vw 0.2vw grey, 0.2vw 0vw 0.2vw grey;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border:solid 0px;
	font-size: 1vw;
}
.mid{
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	width: 75%;
    margin: 0 auto;
    grid-column-gap: 2vw;
    grid-row-gap: 1.5vw;
}
.linkin{
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: black;
	box-shadow: 0vw 0.3vw 0.4vw grey;
	border-radius: 0.4vw;
}
.content{
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 0.4vw;
} 
.images1{
    background-image: url('../img/pic.png');
} 
.images2{
    background-image: url('../img/pic (1).png');
} 
.images3{
    background-image: url('../img/pic (2).png');
}
.images4{
    background-image: url('../img/pic (3).png');
}
.images5{
    background-image: url('../img/pic (4).png');
}
.images6{
    background-image: url('../img/pic (5).png');
}
.images7{
    background-image: url('../img/pic (6).png');
}
.images8{
    background-image: url('../img/pic (7).png');
}
.images9{
    background-image: url('../img/pic (8).png');
}
.images10{
    background-image: url('../img/pic (9).png');
}
.images11{
    background-image: url('../img/pic (10).png');
}
.images12{
    background-image: url('../img/pic (11).png');
}
.images13{
    background-image: url('../img/pic (12).png');
}
.images14{
    background-image: url('../img/1.png');
}
.images15{
    background-image: url('../img/2.png');
}
.images16{
    background-image: url('../img/3.png');
}
.images17{
    background-image: url('../img/4.png');
}
.orenge{
	font-size: 1vw;
	background-color: #FF800C;
	color: white;
	display: inline-block;
	padding: 0.3vw 0.6vw;
	border-radius: 0.3vw;
	margin: 1vw 0 0 1vw;
	position: absolute;
}
.red{
	background-color: #FF0C0C;
}
.white{
	background-color: white;
	margin-top: 8.5vw;
	box-shadow: 0vw 0.3vw 0.4vw grey;
	border-radius: 0 0 0.4vw 0.4vw;
}
.bigmac{
	font-size: 1.5vw;
	padding-left: 1vw;
}
.time{
	margin: 0.5vw 0 0 1vw;
	display: flex;
	align-items: center;
    justify-content: left;
    height: 1.4vw;
    padding-bottom: 1vw;
}
.svg{
	float: left;
	background-color: #FE7D34;
	height: 1vw;
	display: flex;
	align-items: center;
    justify-content: left;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    border-radius: 0.2vw 0 0 0.2vw;
    padding-left: 0.2vw;
}
.svg img{
	height: 100%;
}
.time1{
	float: left;
	font-size: 0.7vw;
	background-color: #FE7D34;
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: left;
    padding-left: 0.3vw;
    border-radius: 0 0.2vw 0.2vw 0;
}
.scuuter{
	height: 1.4vw;
	display: flex;
	align-items: center;
    justify-content: left;
    margin-left: 1vw;
    background-color: #00D008;
    border-radius: 0.2vw;
}
.scuuter img{
	height: 1.4vw;
	padding-left: 0.3vw;
}
.scuuter div{
	font-size: 0.7vw;
	margin-left: 0.4vw;
}
.padingi{
	padding: 1.5vw 0;
}
footer{
	background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}
.foot{
	overflow: hidden;
	min-height: 6vw;
	width: 75%;
	margin: 2vw auto 0 auto;
}
.info{
	float: left;
	width: 50%;
	margin-top: 2vw;
}
.allinfo{
	text-decoration: none;
	color: white;
	font-size: 1vw;
}
.margg4{
	margin-left: 3%;
}
.social{
	float: right;
	margin-top: 1.5vw;
}
.allsocial{
	height: 2.5vw;
	width: 2.5vw;
	float: right;
	border-radius: 1.3vw;
	text-align: center;
}
.instagram{
	background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}
.facebook{
	background-color: #4E6297;
	margin-right: 1vw;
}
.telegram{
	background-color: #2F89CE;
	margin-right: 1vw;
}
.svgg{
	margin-top: 0.7vw;
	width: 1.1vw;
	height: 1.1vw;
	display: inline-block;
}